@import 'reset.css';
@import 'variables.css';

:root {
  --clr-space-cadet: #1d2c53;
  --clr-black-coral: #626c7f;
  --clr-cultured: #f5f5f5;
}

body {
  font: normal normal var(--fw-regular) var(--fs-4)/normal var(--ff-default);
}

@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 17.5px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

section {
  padding-block: 7rem;
}

h1 {
  font: normal normal var(--fw-bold) var(--fs-heading-1)/1 var(--ff-default);
}

h2 {
  font: normal normal var(--fw-bold) var(--fs-heading-2)/1 var(--ff-default);
}

h3 {
  font: normal normal var(--fw-bold) var(--fs-1)/2rem var(--ff-default);
}

h4 {
  font: normal normal var(--fw-bold) var(--fs-2)/2rem var(--ff-default);
}

h5 {
  font: normal normal var(--fw-bold) var(--fs-3)/2rem var(--ff-default);
}

p {
  color: var(--clr-black-coral);
  font: normal normal var(--fw-regular) var(--fs-4)/1.75rem var(--ff-default);
}

/* ========== UTILITY CLASS ========== */

.section_container {
  margin-inline: auto;
  width: min(90%, 1280px);
}

.text-red-crayola {
  color: var(--clr-red-crayola-600);
}

.outlined_subtitle {
  font-size: var(--fs-small);
  font-weight: var(--fw-medium);
  padding-block: .25rem;
  padding-inline: .75rem;
  border-radius: 2rem;
}

.outlined_subtitle.red {
  border: 1px solid var(--clr-red-crayola-200);
  background-color: var(--clr-red-crayola-100);
  color: var(--clr-red-crayola-400);
}

.outlined_subtitle.blue {
  border: 1px solid var(--clr-blue-ryb-200);
  background-color: var(--clr-blue-ryb-100);
  color: var(--clr-blue-ryb-400);
}

.button {
  gap: 0.25rem;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  padding-inline: 1rem;
  padding-block: .5rem;
  transition: .2s ease-in-out;
  color: #fff;
  font-size: 0.8rem;

  svg {
    transition: 0.2s ease-in-out;
  }

  &:hover {
    transition: 0.2s ease-in-out;

    svg {
      transform: translateX(0.25rem);
      transition: 0.2s ease-in-out;
    }
  }
}

.button.blue {
  background-color: var(--clr-blue-ryb-600);
}

.button.blue:hover {
  background-color: var(--clr-red-crayola-600);
}

.button.red {
  background-color: var(--clr-red-crayola-600);
}

.button.red:hover {
  background-color: var(--clr-blue-ryb-600);
}

.button.red_outlined {
  background-color: #fff;
  border: 1px solid var(--clr-red-crayola-600);
  color: var(--clr-red-crayola-600);
}

.button.red_outlined:hover {
  background-color: var(--clr-red-crayola-100);
  color: var(--clr-red-crayola-400);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.text-center {
  text-align: center;
}

/* Sin aprobar */
.flow>*:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flex-group>* {
  min-width: fit-content;
  flex: 1;
}

.even-columns {
  display: grid;
  gap: 2rem;
}

/* Fin Sin aprobar */


@media screen and (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

/* ========== GENERAL STYLES ========== */


.rounded_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}