@import 'reset.css';
@import 'variables.css';

:root {
  --clr-black-coral: #626c7f;
  --clr-cultured: #f5f5f5;
}

body {
  font: normal normal var(--fw-regular) var(--fs-4)/normal var(--ff-default);
}

@media (min-width: 1279px) {
  html {
    font-size: 18px;
  }

  :root {
    --section-space: 7rem;
  }
}

section {
  padding-block: var(--section-space);
}

h1 {
  font-size: clamp(var(--fs-heading-2), 4vw + 1rem, var(--fs-heading-1));
  line-height: 1.1;
}

h2 {
  font-size: clamp(var(--fs-1), 4vw + 1rem, var(--fs-heading-2));
  line-height: 1;
}

h3 {
  font-size: clamp(var(--fs-2), 4vw + 1rem, var(--fs-1));
  line-height: 2rem;
}

h4 {
  font-size: clamp(var(--fs-3), 4vw + 1rem, var(--fs-2));
  line-height: 2rem;
}

h5 {
  font-size: clamp(var(--fs-4), 4vw + 1rem, var(--fs-3));
  line-height: 2rem;
}

.small_title {
  font-size: clamp(var(--fs-4), 4vw + 1rem, var(--fs-3));
  line-height: 2rem;
}

p {
  color: var(--clr-black-coral);
  font: normal normal var(--fw-regular) var(--fs-4)/1.75rem var(--ff-default);
}

/* ========== UTILITY CLASS ========== */

.hidden {
  display: none !important;
}

.section_container {
  margin-inline: auto;
  width: min(90%, 1280px);
}

.text-red-crayola {
  color: var(--clr-red-crayola-600);
}

.outlined_subtitle {
  font-size: var(--fs-small);
  font-weight: var(--fw-medium);
  padding-block: .25rem;
  padding-inline: .75rem;
  border-radius: 2rem;
  width: fit-content;
}

.outlined_subtitle.red {
  border: 1px solid var(--clr-red-crayola-200);
  background-color: var(--clr-red-crayola-100);
  color: var(--clr-red-crayola-400);
}

.outlined_subtitle.blue {
  border: 1px solid var(--clr-blue-ryb-200);
  background-color: var(--clr-blue-ryb-100);
  color: var(--clr-blue-ryb-400);
}

.button {
  gap: 0.25rem;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  padding-inline: 1rem;
  padding-block: .5rem;
  transition: .2s ease-in-out;
  color: #fff;
  font-size: 0.8rem;

  svg {
    transition: 0.2s ease-in-out;
  }

  &:hover {
    transition: 0.2s ease-in-out;

    svg {
      transform: translateX(0.25rem);
      transition: 0.2s ease-in-out;
    }
  }

  &:active {
    scale: 0.95;
  }
}

.button.blue {
  background-color: var(--clr-blue-ryb-600);
}

.button.blue:hover {
  background-color: var(--clr-red-crayola-600);
}

.button.red {
  background-color: var(--clr-red-crayola-600);
}

.button.red:hover {
  background-color: var(--clr-blue-ryb-600);
}

.button.red_outlined {
  background-color: #fff;
  border: 1px solid var(--clr-red-crayola-600);
  color: var(--clr-red-crayola-600);
}

.button.red_outlined:hover {
  background-color: var(--clr-red-crayola-100);
  color: var(--clr-red-crayola-400);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.text-center {
  text-align: center;
}

/* Sin aprobar */
.flow>*:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flex-group>* {
  min-width: fit-content;
  flex: 1;
}

.even-columns {
  display: grid;
  gap: 2rem;
}

/* Fin Sin aprobar */


@media screen and (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

/* ========== GENERAL STYLES ========== */
.rounded_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.linear_gradient_blue {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, var(--clr-blue-ryb-200) 100%, #fff 0%);
    filter: blur(30px);
    opacity: 0.1;
    z-index: -1;
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.5rem);
  }
}

@keyframes fly {
  from {
    transform: translateY(.1rem);
  }

  to {
    transform: translateY(-.1rem);
  }
}