---
const { feature } = Astro.props;
---

<article class="feature_card flex items-start flex-col">
  <div class="feature_icon flex">
    {(<feature.icon width="24" />)}
  </div>
  <div class="feature_text">
    <h5>{feature.title}</h5>
    <p>{feature.description}</p>
  </div>
</article>

<style>
  .feature_card {
    gap: 1rem;
    padding: 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    flex: 1 1 min(100%, 18rem);
    transition: all 0.2s ease-in-out;
  }

  .feature_card:hover {
    background-color: #f8fafc;
    border: 1px #f1f5f9 solid;
    transition: all 0.2s ease-in-out;
  }

  .feature_card .feature_icon {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--clr-blue-ryb-50);
    border: 1px solid var(--clr-blue-ryb-100);
  }

  .feature_card .feature_icon svg {
    color: var(--clr-blue-ryb-500);
  }

  .feature_card .feature_text {
    display: grid;
    gap: 0.5rem;
  }

  .feature_card .feature_text p {
    font-size: var(--fs-5);
    line-height: 1.4rem;
  }
</style>
