---
import FacebookIcon from "../icons/FacebookIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
---

<footer>
  <div
    class="footer_bottom_container section_container flex-group text-center items-center flex-col"
  >
    <ul>
      <li class="rounded_icon_container"><FacebookIcon width="20" /></li>
      <li class="rounded_icon_container"><LinkedInIcon width="20" /></li>
    </ul>
    <p>Copyright © 2024 Nibiru Technologies.</p>
  </div>
</footer>

<style>
  footer {
    width: 100%;
    padding-block: 1rem;
    background-color: var(--clr-slate-100);
  }

  .footer_bottom_container {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      li {
        background-color: var(--clr-slate-200);
      }
    }
  }
</style>
