---
import Container from "../layout/Container.astro";
---

<footer>
  <Container>
    <div class="even-columns">
      <div>
        <img src="/images/logo.svg" alt="Solutry logo" />
        <p>
          Lorem ipsum dolor sit amet, consectetur, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua minim.
        </p>
        <div>
          <!-- icon here -->
          <span>2750 Quadra Street Victoria, Canada.</span>
        </div>
      </div>

      <div>
        <h3>Quick links</h3>
        <div class="even-columns">
          <ul>
            <li><a href="#">IT Startup</a></li>
            <li><a href="#">Software</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">App</a></li>
            <li><a href="#">Insurance</a></li>
          </ul>
          <ul>
            <li><a href="#">Property</a></li>
            <li><a href="#">Big Data</a></li>
            <li><a href="#">Distance Learning</a></li>
            <li><a href="#">Chatbot</a></li>
            <li><a href="#">Medical</a></li>
          </ul>
        </div>
      </div>

      <div>
        <h3>Contact with us</h3>
        <div>
          <div>
            <!-- icon here -->
            <span>hello@solutry.com</span>
          </div>
          <hr />
          <div>
            <!-- icon here -->
            <span>+1-485-456-0102</span>
          </div>
        </div>
      </div>
    </div>
  </Container>
</footer>
