---
import ChevronRight from "../icons/ChevronRight.astro";
import Container from "../layout/Container.astro";
import Navbar from "./Navbar.astro";

const navbarList = [
  {
    label: "Home",
    link: "#",
  },
  {
    label: "Features",
    link: "#features",
  },
  {
    label: "Service",
    link: "#service",
  },
  {
    label: "Blog",
    link: "#blog",
  },
  {
    label: "Newsletter",
    link: "#newsletter",
  },
];
---

<header class="header">
  <div class="header-wrapper section_container">
    <div class="header__logo-container">
      <a href="#">
        <img
          class="brand_img"
          src="/images/logo.svg"
          alt="Solutry logo"
          loading="lazy"
        />
      </a>
      <button class="hamburger">
        <span></span>
      </button>
    </div>

    <Navbar navbarList={navbarList} />

    <div class="header__btn">
      <a href="#" class="btn">
        <span>Get Started</span>
        <ChevronRight />
      </a>
    </div>
  </div>
</header>

<style>
  .header {
    width: 100%;
    position: fixed;
    padding-block: 1.25rem;
    background-color: var(--clr-cultured);
    z-index: 10;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hamburger {
    display: none;
    justify-content: center;

    span::before,
    span::after,
    span {
      width: 32px;
      height: 3px;
      border-radius: 2px;
      background-color: var(--clr-black-coral);
      transition: 0.3s;
    }

    span::after,
    span::before {
      content: "";
      position: relative;
      display: inline-block;
    }

    span::after {
      top: -26px;
    }

    span::before {
      top: -23px;
    }
  }

  @media screen and (max-width: 50em) {
    .header__logo-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .hamburger {
      display: flex;
    }

    .hamburger.isOpen {
      span {
        background-color: transparent;

        &::before {
          top: -14px;
          transform: rotate(135deg);
        }

        &::after {
          top: -36px;
          transform: rotate(-135deg);
        }
      }
    }

    .header__btn {
      display: none;
    }
  }
</style>

<script>
  const btnToggle = document.querySelector(".hamburger");
  const navbar = document.querySelector(".navbar");

  btnToggle.addEventListener("click", () => {
    btnToggle.classList.toggle("isOpen");
    navbar.classList.toggle("isOpen");
  });
</script>
