---
import ChevronRight from "../icons/ChevronRight.astro";
import HamburguerIcon from "../icons/HamburguerIcon.astro";
import { navbarList } from "../constants/data.js";
import Navbar from "./Navbar.astro";
---

<header class="header">
  <div class="section_container flex items-center justify-between">
    <div class="logo_container flex items-center justify-between">
      <a class="logo" href="#">
        <span>Nibiru</span>
        <span>Technology</span>
      </a>
      <HamburguerIcon />
    </div>

    <Navbar navbarList={navbarList} />

    <a href="#" class="header_button button blue">
      Get Started <ChevronRight width={20} />
    </a>
  </div>
</header>

<style>
  .header {
    top: 0;
    width: 100%;
    z-index: 10;
    position: sticky;
    padding-block: 1.25rem;
    background-color: #fff;
    animation: header-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  .header .logo span:nth-child(1) {
    font-weight: var(--fw-bold);
    color: var(--clr-red-crayola-600);
  }

  .header .logo span:nth-child(2) {
    border-radius: 6px;
    padding: 0.2rem 0.5rem;
    background-color: var(--clr-slate-100);
    color: var(--clr-black-coral);
    font-weight: var(--fw-bold);
    transition: 0.2s ease-in-out;
  }

  .header .logo_container a span:nth-child(2):hover {
    background-color: var(--clr-red-crayola-600);
    transition: 0.2s ease-in-out;
    color: #fff;
  }

  @keyframes header-shadown {
    to {
      padding-block: 0.7rem;
      background-color: #fffc;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid var(--clr-slate-100);
      backdrop-filter: blur(16px);
    }
  }

  @media screen and (max-width: 1024px) {
    .header > div {
      flex-direction: column;
    }

    .header .logo_container {
      width: 100%;
    }

    .header_button {
      display: none;
    }
  }
</style>

<script>
  const btnToggle = document.querySelector(".hamburger");
  const navbar = document.querySelector(".navbar");

  btnToggle.addEventListener("click", () => {
    btnToggle.classList.toggle("active");
    navbar.classList.toggle("active");
  });
</script>
