---
import ChevronRight from "../icons/ChevronRight.astro";
import HamburguerIcon from "../icons/HamburguerIcon.astro";
import Navbar from "./Navbar.astro";

const navbarList = [
  {
    label: "Home",
    link: "#",
  },
  {
    label: "Features",
    link: "#features",
  },
  {
    label: "Service",
    link: "#service",
  },
  {
    label: "Blog",
    link: "#blog",
  },
  {
    label: "Newsletter",
    link: "#newsletter",
  },
];
---

<header class="header">
  <div class="header_container section_container">
    <div class="header_logo_container">
      <a href="#">
        <span>Nibiru</span>
        <span>Technology</span>
      </a>
      <HamburguerIcon />
    </div>

    <Navbar navbarList={navbarList} />

    <a href="#" class="header_button button blue_button">
      Get Started <ChevronRight width={20} />
    </a>
  </div>
</header>

<style>
  .header {
    z-index: 10;
    width: 100%;
    position: fixed;
    padding-block: 1.25rem;
    background-color: var(--clr-white);
  }

  .header_container,
  .header_logo_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header_logo_container a span:nth-child(1) {
    font-weight: var(--fw-bold);
    color: var(--clr-red-crayola);
  }

  .header_logo_container a span:nth-child(2) {
    border-radius: 6px;
    padding: 0.2rem 0.5rem;
    background-color: #e5e7eb;
    color: var(--clr-black-coral);
    font-weight: var(--fw-bold);
    transition: 0.2s ease-in-out;
  }

  .header_logo_container a span:nth-child(2):hover {
    background-color: var(--clr-red-crayola);
    transition: 0.2s ease-in-out;
    color: var(--clr-white);
  }

  .header {
    animation: header-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes header-shadown {
    to {
      padding-block: 0.7rem;
      background-color: #fffc;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid #e5e7eb;
      backdrop-filter: blur(16px);
    }
  }

  @media screen and (max-width: 1024px) {
    .header_container {
      flex-direction: column;
    }

    .header_logo_container {
      width: 100%;
    }

    .header_button {
      display: none;
    }
  }
</style>

<script>
  const btnToggle = document.querySelector(".hamburger");
  const navbar = document.querySelector(".navbar");

  btnToggle.addEventListener("click", () => {
    btnToggle.classList.toggle("active");
    navbar.classList.toggle("active");
  });
</script>
