---
import ChevronRight from "../icons/ChevronRight.astro";

const { navbarList } = Astro.props;
---

<nav class="navbar">
  <ul>
    {
      navbarList.map((item) => (
        <li>
          <a href={item.link}>{item.label}</a>
        </li>
      ))
    }
  </ul>
  <a href="#" class="navbar_button button blue_button">
    Get Started <ChevronRight width={24} />
  </a>
</nav>

<style>
  ul {
    display: flex;
    gap: 0.75rem;
  }

  ul li a {
    font-size: 0.875rem;
  }

  .navbar_button {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    .navbar {
      display: none;
      justify-content: center;
      width: 100%;
      padding-block: 1.5rem;
    }

    .navbar.active {
      display: grid;
      justify-content: start;
    }

    ul {
      flex-direction: column;
    }

    .navbar_button {
      display: flex;
      margin-top: 1rem;
    }
  }
</style>
