---
const { service } = Astro.props;
---

<article class="service_card flex items-start flex-col">
  <div class="service_icon flex">
    {(<service.icon width="24" />)}
  </div>
  <div class="service_text">
    <h5>{service.title}</h5>
    <p>{service.description}</p>
  </div>
</article>

<style>
  .service_card {
    gap: 0.5rem;
    padding: 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    flex: 1 1 min(100%, 18rem);
    transition: all 0.2s ease-in-out;
  }

  .service_card:hover {
    background-color: #f8fafc;
    border: 1px #f1f5f9 solid;
    transition: all 0.2s ease-in-out;
  }

  .service_card .service_icon {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--clr-blue-ryb-50);
    border: 1px solid var(--clr-blue-ryb-100);
  }

  .service_card .service_icon svg {
    color: var(--clr-blue-ryb-500);
  }

  .service_card .service_text p {
    font-size: var(--fs-5);
    line-height: 1.4rem;
  }
</style>
