---
import Container from "../layout/Container.astro";
import Card from "../components/Card.astro"

const postsList = [
  {
    image: "/images/blog-1.jpg",
    title: "How is technology working with new things?",
    tags: {
      category: "Technology",
      date: "25 Feb, 2022"
    }
  },
  {
    image: "/images/blog-2.jpg",
    title: "Top 10 important tips on IT services & design",
    tags: {
      category: "Design",
      date: "25 Feb, 2022"
    }
  },
  {
    image: "/images/blog-3.jpg",
    title: "How our company works in different ways",
    tags: {
      category: "Startup",
      date: "25 Feb, 2022"
    }
  },
]
---

<section>
  <Container>
    <div>
      <span>Latest News</span>
      <h2>Our latest articles & resources</h2>
      <div class="even-columns">
        {
          postsList.map((post) => {
            return (
              <Card post={post} />
            )
          })
        }
      </div>
    </div>
  </Container>
</section>