---
import FormInput from "../components/FormInput.astro";
import FormTextArea from "../components/FormTextArea.astro";
import SendIcon from "../icons/SendIcon.astro";
---

<section id="contact" class="section_container">
  <div class="newsletter_text">
    <span class="outlined_subtitle blue">Contacto</span>
    <h2>Nos encantaría conocer tu proyecto.</h2>
    <p>
      Tu búsqueda por el sitio web perfecto acaba aquí, una vez que envíes tu
      solicitud, nosotros nos encargamos del resto.
    </p>
  </div>
  <div class="newsletter__content items-center">
    <form>
      <h5>Formuario de contacto</h5>
      <br />

      <FormInput type="email" name="email" placeholder="Correo electrónico" />
      <br />

      <FormInput type="text" name="name" placeholder="Nombre completo" />
      <br />

      <FormTextArea name="message" placeholder="Su mensaje" />
      <br />

      <button class="button red">
        <div class="wrapper">
          <SendIcon class="send_button" width={24} />
        </div>
        <span>Enviar</span>
      </button>
    </form>
    <img
      src="/images/send-email.svg"
      alt="Ilustración enviar email"
      loading="lazy"
    />
  </div>
</section>

<style>
  #contact {
    gap: 1rem;
    display: grid;
  }

  #contact .newsletter_text {
    gap: 0.5rem;
    display: grid;
    width: min(100%, 40rem);
  }

  #contact .newsletter__content {
    gap: 4rem;
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  }

  #contact form {
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--clr-slate-200);
  }

  #contact .newsletter__content img {
    margin-inline: auto;
    width: min(30rem, 100%);
  }

  form button span {
    transition: transform 0.3s ease-in-out;
  }

  form button {
    overflow: hidden;
    gap: 0.5rem;
    margin-inline: auto;
  }

  form button svg {
    vertical-align: middle;
  }

  form button:hover span {
    transform: translateX(5rem);
  }

  form button:hover svg {
    transform: translateX(1.5rem) rotate(45deg) scale(1.1);
  }

  form button:hover .wrapper {
    animation: fly 0.6s ease-in-out infinite alternate;
  }
</style>
