---
import Feature from "../components/Feature.astro";
import { features } from "../constants/data.js";
---

<section id="features" class="section_container">
  <div class="features_text flex flex-col items-center text-center">
    <span class="outlined_subtitle red">More Features</span>
    <h2>We’re helping teams do their best work</h2>
    <p>
      Unlock your team's true potential with our state-of-the-art SaaS platform.
      From intelligent task management to real-time collaboration and top-notch
      data security, we have everything you need to streamline your workflows
      and achieve high productivity.
    </p>
  </div>
  <div class="features_cards">
    {features.map((feature) => <Feature feature={feature} />)}
  </div>

  <style>
    #features .features_text {
      gap: 1rem;
      width: min(100%, 780px);
      margin-inline: auto;
    }

    #features .features_cards {
      gap: 1rem;
      display: flex;
      flex-wrap: wrap;
      margin-top: 4rem;
    }

    @media (max-width: 1024px) {
      #features .features_text {
        align-items: flex-start;
        margin-inline: initial;
        text-align: left;
      }
    }
  </style>
</section>
