---
import ChevronRight from "../icons/ChevronRight.astro";
import Container from "../layout/Container.astro";
---

<section >
  <Container>
    <div class="even-columns items-center">
      <div class="flow">
        <h1 class="heading-1">
          Secure IT solutions for a more secure environment
        </h1>
        <p>
          Velit hendrerit sit auctor tempor sem. Congue mi tempor condimentum
          felis arcu, non cursus. Nulla pharetra porttitor sed platea arcu et
          leo odio.
        </p>
        <a href="#" class="btn btn-primary">
          <span>Get Started Now</span>
          <ChevronRight/>
        </a>
      </div>
      <div>
        <img src="/images/hero-banner.png" alt="Illustration art" />
      </div>
    </div>
  </Container>
</section>

<style>
  section {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

</style>
