---
import ArrowDown from "../icons/ArrowDown.astro";
import ChevronRight from "../icons/ChevronRight.astro";
---

<section id="hero">
  <div class="section_container hero_container">
    <div class="hero_content flex flex-col items-start">
      <h1>Construye tu presencia en la web</h1>
      <p>
        Te ayudamos a crear o rediseñar tu sitio web a la medida de tus
        requerimientos. Desde blogs hasta webs corporativas, conversa con
        nuestro equipo y comienza tu proyecto.
      </p>
      <div class="flex-group">
        <a href="#contact" class="button red">
          Conversemos <ChevronRight width={24} />
        </a>
        <a href="#services" class="button red_outlined">
          Conoce más <ChevronRight width={24} />
        </a>
      </div>
    </div>
    <figure>
      <img
        src="/images/building-product.svg"
        alt="Ilustración creando sitio web"
        loading="lazy"
      />
    </figure>
  </div>

  <a href="#services"><ArrowDown class="arrow_down" /></a>
</section>

<style>
  #hero {
    display: grid;
    position: relative;
  }

  .arrow_down {
    width: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4rem;
    margin-inline: auto;
    color: var(--clr-red-crayola-300);
    animation: bounce linear 2s infinite;
  }

  .hero_container {
    position: relative;
    column-gap: 2rem;
    row-gap: 5rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 460px), 1fr));
  }

  .hero_content {
    gap: 1rem;
    width: min(100%, 560px);
    margin-inline: auto;
  }

  .hero_container figure img {
    margin-inline: auto;
    width: min(30rem, 100%);
  }

  @media (max-width: 1024px) {
    #hero {
      text-align: center;
      padding-top: 3rem;
    }

    .flex-group {
      margin-inline: auto;
    }
  }
</style>
