---
import ChevronRight from "../icons/ChevronRight.astro";
---

<section id="hero">
  <div class="section_container hero_container">
    <div class="hero_content flex flex-col items-start">
      <h1>Secure IT solutions for a more secure environment</h1>
      <p>
        Velit hendrerit sit auctor tempor sem. Congue mi tempor condimentum
        felis arcu, non cursus. Nulla pharetra porttitor sed platea arcu et leo
        odio.
      </p>
      <div class="flex-group">
        <a href="#" class="button red">
          Get Started <ChevronRight width={24} />
        </a>
        <a href="#" class="button red_outlined">
          Get Started <ChevronRight width={24} />
        </a>
      </div>
    </div>
    <picture>
      <img
        src="/images/hero-banner.webp"
        alt="Illustration art"
        loading="lazy"
      />
    </picture>
  </div>
</section>

<style>
  #hero {
    padding-top: 9rem;
    background-color: var(--clr-cultured);
  }

  .hero_container {
    gap: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 460px), 1fr));
  }

  .hero_content {
    gap: 1rem;
    width: min(100%, 560px);
    margin-inline: auto;
  }

  .hero_container figure img {
    margin-inline: auto;
    width: min(560px, 100%);
  }

  @media (max-width: 1024px) {
    #hero {
      text-align: center;
    }

    .flex-group {
      margin-inline: auto;
    }
  }
</style>
