---
import ChevronRight from "../icons/ChevronRight.astro";
---

<section>
  <div class="even-columns items-center section_container">
    <div>
      <h1 class="h1">Secure IT solutions for a more secure environment</h1>
      <p class="paragraph">
        Velit hendrerit sit auctor tempor sem. Congue mi tempor condimentum
        felis arcu, non cursus. Nulla pharetra porttitor sed platea arcu et leo
        odio.
      </p>
      <a href="#" class="btn btn-primary">
        <span>Get Started Now</span>
        <ChevronRight />
      </a>
    </div>
    <figure>
      <img src="/images/hero-banner.webp" alt="Illustration art" />
    </figure>
  </div>
</section>

<style>
  section {
    background-color: var(--clr-cultured);
    padding-top: 9rem;
  }
</style>
