---
const advantages = [
  {
    image: "/images/highlights-1.png",
    tag: "Nibiru",
    title: "Responsive Template",
    description:
      "This creative and modern mobile responsive website template helps you create any kind of marketing websites or landing pages.",
  },
  {
    image: "/images/highlights-1.png",
    tag: "Creative",
    title: "Next Level Template",
    description:
      "This new kind of website template integrates your favorite tools and workflows.",
  },
  {
    image: "/images/highlights-2.png",
    tag: "Template",
    title: "Modern Design",
    description:
      "Feeling old? Try this template and be a part of the modern design.",
  },
  {
    image: "/images/highlights-1.png",
    tag: "Product",
    title: "Highlight Features",
    description:
      "You can highlight your features in a trendy grid like this one.",
  },
  {
    image: "/images/highlights-3.png",
    tag: "Webhooks",
    title: "100+ Integrations",
    description:
      "This template can be integrated with hundreds of tools using Zapier.",
  },
];
---

<section>
  <div class="section_container">
    <div class="highlights">
      <div class="highlights__text">
        <span class="outlined_subtitle blue">Blue generic subtitle</span>
        <h2>
          Everything you need to
          <span class="text-red-crayola">start a website</span>
        </h2>
        <p>
          This package comes fully equipped. It leverages the best features of
          state-of-the-art tools and adds its own innovations.
        </p>
      </div>
      <div class="highlights__card-container">
        {
          advantages.map((advantage) => {
            return (
              <div class="highlights__card">
                <div class="highlights__card_image">
                  <img src={advantage.image} alt="highlight image" />
                </div>

                <div class="highlights__card_content">
                  <span class="outlined_subtitle red">{advantage.tag}</span>
                  <h5>{advantage.title}</h5>
                  <p>{advantage.description}</p>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</section>

<style>
  .highlights__text {
    gap: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .highlights__card-container {
    margin-top: 4rem;
    display: grid;
    gap: 1.5rem;
  }

  .highlights__card {
    gap: 0.5rem;
    display: grid;
    padding: 2rem;
    background-color: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 1rem;
  }

  .highlights__card_image {
    position: relative;
  }

  .highlights__card_image::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to top, #f9fafb, #0000, #0000);
    z-index: 5;
  }

  .highlights__card_content.flow {
    --flow-space: 0.5rem;
  }

  .highlights__card_content h5 {
    margin-block: 0.3rem 0.5rem;
  }

  .highlights__card_content p {
    font-size: var(--fs-5);
    line-height: 1.4rem;
  }

  @media screen and (min-width: 768px) {
    .highlights__card-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .highlights__card-container .highlights__card:nth-child(1) {
      grid-column: 1 / 3;
    }
  }

  @media screen and (min-width: 1024px) {
    .highlights__card-container {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .highlights__card-container .highlights__card:nth-child(1) {
      grid-column: span 3;
    }

    .highlights__card-container .highlights__card:nth-child(2) {
      grid-column: span 3;
    }

    .highlights__card-container *:nth-child(n + 3) {
      grid-column: span 2;
    }

    .highlights__card_image {
      position: relative;
      height: 15dvw;
      overflow: hidden;

      & img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
</style>
