---
import FormInput from "../components/FormInput.astro";
import FormTextArea from "../components/FormTextArea.astro";
import ChevronRight from "../icons/ChevronRight.astro";
---

<section id="newsletter" class="section_container">
  <div class="newsletter_text">
    <span class="outlined_subtitle blue">Subscribe Our Newsletter</span>
    <h2>The latest resources, sent to your inbox weekly</h2>
    <p>
      Unlock your team's true potential with our state-of-the-art SaaS platform.
      From intelligent task management to real-time collaboration and top-notch
      data security, we have everything you need to streamline your workflows
      and achieve high productivity.
    </p>
  </div>
  <div class="newsletter__content items-center">
    <form>
      <FormInput type="email" name="email" placeholder="Ingrese su email" />
      <br />

      <FormInput type="text" name="name" placeholder="Ingrese su nombre" />
      <br />

      <FormTextArea name="message" placeholder="Ingrese su mensaje" />
      <br />

      <button class="button red">Enviar <ChevronRight width={24} /> </button>
    </form>
    <img src="/images/send-email.svg" alt="Ilustración enviar email" />
  </div>
</section>

<style>
  #newsletter {
    gap: 1rem;
    display: grid;
  }

  #newsletter .newsletter_text {
    gap: 1rem;
    display: grid;
    width: min(100%, 780px);
  }

  #newsletter .newsletter__content {
    gap: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  }

  #newsletter form {
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--clr-slate-50);
    border: 1px solid var(--clr-slate-100);
  }

  #newsletter .newsletter__content img {
    margin-inline: auto;
    width: min(30rem, 100%);
  }
</style>
