---
import ChevronRight from "../icons/ChevronRight.astro";
---

<section id="newsletter">
  <div class="even-columns items-center section_container">
    <div class="newsletter__content">
      <span>Subscribe Our Newsletter</span>
      <h2 class="h2">The latest resources, sent to your inbox weekly</h2>
      <form class="newsletter__form">
        <input
          class="newsletter__form-input"
          type="text"
          placeholder="Enter your email address"
        />
        <button class="newsletter__form-btn button red_button">
          Subscribe Now <ChevronRight width={24} />
        </button>
      </form>
    </div>
    <img src="/images/newsletter.png" alt="Illustration art" />
  </div>
</section>

<style>
  section {
    background-color: var(--clr-cultured);
  }

  .newsletter__content {
    display: grid;
    gap: 1rem;

    .newsletter__form {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
      gap: 1rem;

      .newsletter__form-input {
        padding: 0.5rem 1rem;
        border: 1px solid var(--clr-black-coral);
        border-radius: 0.25rem;
        background-color: var(--clr-white);
        color: inherit;
      }

      .newsletter__form-btn {
        width: fit-content;
      }
    }
  }
</style>
