---

---

<section id="newsletter">
  <div class="even-columns section_container">
    <div>
      <span>Subscribe Our Newsletter</span>
      <h2>The latest resources, sent to your inbox weekly</h2>
      <form action="">
        <input type="text" placeholder="Enter your email address" />
        <button type="submit">
          <span>Subscribe Now</span>
          <!-- icon here -->
        </button>
      </form>
    </div>
    <img src="/images/newsletter.png" alt="Illustration art" />
  </div>

  <style>
    section {
      background-color: var(--clr-cultured);
    }
  </style>
</section>
