---
import Service from "../components/Service.astro";

import { servicesData } from "../constants/data.js";
---

<section id="services" class="section_container">
  <div class="services_text flex flex-col items-center text-center">
    <span class="outlined_subtitle red">Nuestros Servicios</span>
    <h2>Todo lo que necesitas para tu sitio web</h2>
    <p>
      A continuaci칩n, te presentamos una variedad de servicios dise침ados para
      optimizar la construcci칩n y la efectividad de tu proyecto en un mundo cada
      vez m치s digital.
    </p>
  </div>
  <div class="services_content">
    {servicesData.map((service) => <Service services={service} />)}
  </div>
</section>

<style>
  #services .services_text {
    gap: 1rem;
    width: min(100%, 780px);
    margin-inline: auto;
  }

  #services .services_content {
    gap: 3rem;
    display: grid;
    margin-top: 5rem;

    @media screen and (min-width: 992px) {
      .services_section:nth-child(odd) article {
        order: 1;
      }

      .services_section:nth-child(even) article {
        margin-left: auto;
        ul {
          text-align: right;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    #services .services_text {
      align-items: flex-start;
      margin-inline: initial;
      text-align: left;
    }
  }
</style>
