---
import Service from "../components/Service.astro";

import { servicesData } from "../constants/data.js";
---

<section id="service">
  {servicesData.map((service) => <Service services={service} />)}
</section>

<style>
  #service {
    background-color: var(--clr-cultured);
    display: grid;
    gap: 2rem;

    @media screen and (min-width: 992px) {
      .services_section:nth-child(odd) article {
        order: 1;
      }
      .services_section:nth-child(even) article {
        margin-left: auto;
        ul {
          text-align: right;
        }
      }
    }
  }
</style>
