---
import Service from "../components/Service.astro";

const servicesData = [
  {
    image: "/images/service.webp",
    subtitle: "Services We Offer",
    title:
      "Experience the Ultimate Boost in Productivity with Our Intuitive Platform",
    servicesList: [
      "Cloud Databases",
      "Website Hosting",
      "Remote Desktop",
      "File Backup",
    ],
  },
  {
    image: "/images/service.webp",
    subtitle: "Our Services",
    title: "Best IT & technology service in your area",
    servicesList: [
      "Design & Development",
      "Android Apps Development",
      "Laravel Web Development",
      "React Web Development",
    ],
  },
];
---

<section id="service">
  {servicesData.map((service) => <Service services={service} />)}
</section>

<style>
  #service {
    background-color: var(--clr-cultured);
    display: grid;
    gap: 2rem;

    @media screen and (min-width: 990px) {
      .services_section:nth-child(odd) article {
        order: 1;
      }
      .services_section:nth-child(even) article {
        margin-left: auto;
        ul {
          text-align: right;
        }
      }
    }
  }
</style>
