---
import Service from "../components/Service.astro";
import { services } from "../constants/data.js";
---

<section id="services" class="section_container">
  <div class="services_text flex flex-col items-center text-center">
    <span class="outlined_subtitle red">Servicios</span>
    <h2>Conoce más sobre nuestros servicios</h2>
    <p>
      Explora algunos de los servicios que ofrecemos para llevar tu proyecto
      digital al siguiente nivel.
    </p>
  </div>
  <div class="services_cards">
    {services.map((service) => <Service service={service} />)}
  </div>

  <style>
    #services .services_text {
      gap: 0.5rem;
      width: min(100%, 780px);
      margin-inline: auto;
    }

    #services .services_cards {
      gap: 1rem;
      display: flex;
      flex-wrap: wrap;
      margin-top: 4rem;
    }

    @media (max-width: 1024px) {
      #services .services_text {
        align-items: flex-start;
        margin-inline: initial;
        text-align: left;
      }
    }
  </style>
</section>
