---
import Service from "../components/Service.astro";

const servicesData = [
  {
    image: "/images/service-1.png",
    text: "Services We Offer",
    title: "We are here, to help your startup business",
    servicesList: [
      "Cloud Databases",
      "Website Hosting",
      "Remote Desktop",
      "File Backup",
    ],
  },
  {
    image: "/images/service-2.png",
    text: "Our Services",
    title: "Best IT & technology service in your area",
    servicesList: [
      "Design & Development",
      "Android Apps Development",
      "Laravel Web Development",
      "React Web Development",
    ],
  },
];
---

<section id="service">
  {servicesData.map((service) => <Service services={service} />)}
</section>

<style>
  #services {
    background-color: var(--clr-cultured);
    display: grid;
    gap: 2rem;

    @media screen and (min-width: 990px) {
      .services_section:nth-child(odd) article {
        order: 1;
      }
    }
  }
</style>
