---
import "@fontsource/poppins";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import "../styles/global.css";
---

<html lang="es">
  <head>
    <title>Nibiru Technologies - Diseño de páginas web</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <!-- HTML Meta Tags -->
    <meta name="author" content="Nibiru Technologies" />
    <meta name="theme-color" content="#595bfb" />
    <meta
      name="description"
      content="Construimos tu presencia en la web a la medida de tus requerimientos. conversa con nuestro equipo y comienza tu proyecto."
    />

    <!-- Facebook Meta Tags -->

    <meta property="og:url" content="https://nibirutechnologies.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nibiru Technologies" />
    <meta
      property="og:description"
      content="Construimos tu presencia en la web a la medida de tus requerimientos. conversa con nuestro equipo y comienza tu proyecto."
    />
    <meta property="og:image" content="/images/og-image.webp" />
    <meta property="og:locale" content="es_CL" />
    <meta property="og:locale:alternate" content="es_CO" />
    <meta property="og:image" content="/images/og-image.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Nibiru Technologies" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="nibirutechnologies.com" />
    <meta property="twitter:url" content="https://nibirutechnologies.com" />
    <meta name="twitter:title" content="Nibiru Technologies" />
    <meta
      name="twitter:description"
      content="Construimos tu presencia en la web a la medida de tus requerimientos. conversa con nuestro equipo y comienza tu proyecto."
    />
    <meta name="twitter:image" content="/images/og-image.webp" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
